<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codaxy.WkHtmlToPdf" version="0.5.3" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="wkhtmltopdf.mingw.86.exe" version="0.12.2.2" targetFramework="net45" />
  <package id="WkHtmlToXSharp" version="1.1.23.22" targetFramework="net45" />
</packages>